/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    &:hover {
      background-color: lighten(15%);
      transition: .7s;
    }
  }
  


  .default {
    background-color: #51ddfc;
  }
  
  .error {
    background-color: #e4757a;
  }
  
  .info {
    background-color: $theme-1;
  }
  
  .success {
    background-color: #63cc82;
  }
  
  .warning {
    background-color: $theme-2;
  }